*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
/keystore/

# Firebase Cloud Functions
/functions/node_modules/
/functions/lib/
/functions/.env
/functions/*.log
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Log files
*.log
logs/
*.logs
